<div class="game">
  <p class="unsorted-word">
    <span [ngStyle]="{'background-color': wordBg}">{{ state.unsortedWord }}</span>
  </p>
  <p>
    <input type="text" [(ngModel)]="state.enteredWord" (keydown)="onKeyDown($event)" (keyup)="onKeyUp()"
        #enteredWord class="entered-word" size="7" maxlength="7" appAutofocus placeholder="{{ placeholder }}">
  </p>
  <p>
    <button class="btn btn-warning" (click)="skipWord()">Skip word</button>
  </p>
  <p class="current-reward">
    For {{ state.currentReward }} points
  </p>
  <p class="score">
    Score: <strong>{{ state.score }}</strong> points
  </p>
  <p class="time-left">
    Time left: {{ state.timeLeft }}
  </p>
  <p>
    <button class="btn btn-danger" (click)="quitGame()">Quit game</button>
  </p>
</div>

