body,
.entered-word {
  text-align: center;
}

body {
  font-family: sans-serif;
  margin-top: 1em;
}

body,
.btn {
  font-size: 16px;
}

h1 {
  font-size: 20px;
}

.highscore-list {
  margin: auto;
  min-width: 26rem;
}

.highscore-list caption {
  font-size: large;
  text-align: center;
}

.unsorted-word,
.entered-word {
  font-size: 30px;
}

